@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Monda:400,700');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500');




html, body {
  height: 100%;
  width: 100%;

}


.nav-fixed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-bottom: 0px;
  z-index: 997;
}

.brand-logo {
  margin-left: -110px;
  font-family: 'Monda', sans-serif;

}


.social_icons {
  padding: 5px;
}

.fa-github {
  color: #fff;

}

.fa-github:hover {
  color: #4078c0;
  transition: all 0.5s;


}


.fa-facebook-official {
    color: #fff ;

}

.fa-facebook-official:hover {
  color: #3b5998;
  transition: all 0.5s;

}

.fa-instagram {
  color: #fff;
}

.fa-instagram:hover {
  color: #c13584;
  transition: all 0.5s;

}

#modal1 {
  max-height: 750px;
}

.bg_image {
  background-image: url('../images/flare.png');
  background-size: cover;
  position: relative;
  width: auto;
  height: 100%;
  opacity: 0.7;

}

#main_text {
    font-family: 'Fjalla One', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 300px;
    font-size: 8rem;
    width: auto;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);

}

@media (max-width: 600px) {
  #main_text {
    font-family: 'Fjalla One', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 100px;
    font-size: 6rem;
    width: auto;
  }
}


.graph {
  background: #fff;
  padding: 20px 50px 20px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
  width: 600px;
  max-width: 90%;
  margin-bottom: 35px;
}
.bar {
  background: rgb(135,224,253); /* Old browsers */
background: -moz-linear-gradient(left, rgba(135,224,253,1) 0%, rgba(5,171,224,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(135,224,253,1) 0%,rgba(5,171,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(135,224,253,1) 0%,rgba(5,171,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 */
  color: #fff;
  font-weight: bold;
  padding: 15px;
  margin: 15px 0;
  width: 0px;
  box-sizing: border-box;
}


text {
  font-family: "Archivo Narrow",sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 16rem;
  fill: #37484d;
}


path.color0 {
  fill: #16ceff;
}

path.color1 {
  fill: #0072c4;
}

.shine {
    height: 20px;
    width: 100%;
    background-image: radial-gradient(farthest-side at 50% -50%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    position: relative;
}

hr {
    margin-top: -1px;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#portfolio {
  margin-top: -35px;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(39,208,230,0.49) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(39,208,230,0.49)));
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(39,208,230,0.49) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(39,208,230,0.49) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(39,208,230,0.49) 100%);
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(39,208,230,0.49) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#27d0e6', GradientType=1 );
}

#skills {
  margin-top: -35px;
  background: -moz-linear-gradient(45deg, rgba(219,54,32,0.61) 0%, rgba(255,146,38,0.44) 50%, rgba(232,244,102,0.26) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(219,54,32,0.61) 0%,rgba(255,146,38,0.44) 50%,rgba(232,244,102,0.26) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(219,54,32,0.61) 0%,rgba(255,146,38,0.44) 50%,rgba(232,244,102,0.26) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cdb3620', endColorstr='#42e8f466',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



#about {
  margin-top: -35px;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(39,230,160,0.49) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(39,230,160,0.49)));
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(39,230,160,0.49) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(39,230,160,0.49) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(39,230,160,0.49) 100%);
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(39,230,160,0.49) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#27e6a0', GradientType=1 );


}
nav {
}


footer {
  margin-bottom: -15px;
  margin-top: -35px;

}

h2 {
  color: #fff;
  font-family: 'Fjalla One', sans-serif;
  text-shadow:     0 1px 0 hsl(174,5%,80%),
	                 0 2px 0 hsl(174,5%,75%),
	                 0 3px 0 hsl(174,5%,70%),
	                 0 4px 0 hsl(174,5%,66%),
	                 0 5px 0 hsl(174,5%,64%),
	                 0 6px 0 hsl(174,5%,62%),
	                 0 7px 0 hsl(174,5%,61%),
	                 0 8px 0 hsl(174,5%,60%),

	                 0 0 5px rgba(0,0,0,.05),
	                0 1px 3px rgba(0,0,0,.2),
	                0 3px 5px rgba(0,0,0,.2),
	               0 5px 10px rgba(0,0,0,.2),
	              0 10px 10px rgba(0,0,0,.2),
	              0 20px 20px rgba(0,0,0,.3);
                letter-spacing: .05em;
                font-size: 5.5em;
}

h3 {
  color:rgb(13, 67, 106);
  font-family: 'Quicksand', sans-serif;
  font-size: 4.2em;
  padding-top: 20px;
  padding-bottom: 20px;
}

h5 {
    font-style: italic;
    font-weight: 300;
    color: rgb(161, 173, 193);

}

#me_img {
  height: auto;
  width: 275px;
  margin-bottom: 60px;
}


#contact_button {
  margin-top: 35px;
  margin-bottom: 20px;
  background-color: black;
  border-radius: 20px;
}

#modal_button {
  background-color: black;
  border-radius: 20px;
}

#resume_button {
  background-color: black;
  border-radius: 20px;
  margin-top: 35px;
  margin-bottom: 20px;
  }

footer p {
  color: #fff;
}

.bottom_icons {
  padding-right: 8px;
}

.modal img {
  width: 600px;
  display: block;
}

.adobe_icons {
    width: 200px;

}

.adobe_icons2 {
  width: 200px;
  margin-top: 20px;
}

#bootstrap_icon {
  width: 140px;
  margin-top: 30px;
}

#jquery_icon {
  width: 160px;
  margin-top: 20px;
}

#sql_icon {
  margin-top: 30px;
  width: 230px;
}

ul a:hover {
	color: rgb(254, 164, 71);
}

.about_text {
    font-family: 'Quicksand', sans-serif;
    color: rgba(49, 100, 105, 0.95);
}

.about_img {
  width: 300px;
}

.paragraph {

}

#bg_logo {
  position: absolute;
  left: 0;
  right: 1000px;
  margin: auto;
  top: 275px;
}

@media (max-width: 600px) {
  #bg_logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 300px;
  }
}


#bg_logo2 {
  position: absolute;
  left: 360px;
  right: 0;
  margin: auto;
  top: 0;
  width: 100px;
}

@media (max-width: 600px) {
  #bg_logo2 {
    display: none;
  }
}
